@model Asset.Models.hdAssets

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>hdAssets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComputerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComputerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hdAssetTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hdAssetTypes.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Printer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Printer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarrantyExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarrantyExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AssetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
